.cubesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #2b3a42;
  -webkit-font-smoothing: antialiased;
  background: #2b3a42;
  box-sizing: border-box;
  /* margin-top: 20px; */
}
