/* src/components/Header/Header.css */

/* Color Classes */
.color1 {
  color: #273255;
}
.color2 {
  color: #534371;
}
.color3 {
  color: #925b94;
}
.color4 {
  color: #e87cb9;
}
.color5 {
  color: #ffabda;
}

/* CSS Variables */
:root {
  --color1: #273255;
  --color2: #534371;
  --color3: #925b94;
  --color4: #e87cb9;
  --color5: #ffabda;
}

/* Global Styles */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Header Styles */
header {
  /* background: var(--color1); */ /* Commented out */
  color: #fff;
  padding: 0 1rem;
}

/* Container Styles */
.container-header {
  display: flex;
  justify-content: center; /* Centers the nav */
  align-items: center;
  position: relative;     /* Enables absolute positioning of h1 */
}

/* H1 Styles */
h1 {
  /* Positions h1 independently */
  left: 1rem;         /* Aligns h1 to the very left with some padding */
  font-size: 1.5rem;
  margin: 0;          /* Removes default margins */
}

.header-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.header-title {
  text-decoration: none;
  color: #fff;
  left: 1rem;         /* Aligns h1 to the very left with some padding */
  font-size: 1.5rem;
  margin: 0; 
  font-weight: bold;
}

/* Navigation Styles */
nav {
  display: flex;           /* Ensures nav uses flexbox */
  align-items: center;     /* Centers nav items vertically */
  font-size: 1.5rem;
}

/* Menu Icon Styles */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.menu-icon .bar.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon .bar.open:nth-child(2) {
  opacity: 0;
}

.menu-icon .bar.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Navigation Links Styles */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    justify-content: space-between; /* Spreads out h1 and menu-icon */
  }
  
  .menu-icon {
    display: flex; /* Shows the menu icon on mobile */
  }

  .nav-links {
    display: flex;
    position: absolute;
    left: -115px;
    width: 115px;
    flex-direction: column;
    background: #1a1a1a;
    transition: max-height 0.4s;
    overflow: hidden;
    max-height: 0;
    align-items: flex-start;
  }

  .nav-links.open {
    max-height: 300px; /* Adjust based on the number of items */
  }

  .nav-links li {
    text-align: center;
    margin: 1rem 0;
  }

  .nav-links a {
    font-size: 1.2rem;
  }
}